@use 'scss/_variables.scss';
@use 'scss/_boxes.scss';

.box--kantina {
  background: variables.$brunbox;
  color: variables.$skrift-hvid;
  border: 2px solid variables.$brun-kantina;
  border-radius: variables.$border-radius;
  padding: 1rem;
  text-align: center;
  img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}