
#container-opslagstavle{
  width:1.274px;
  height:1.088px;
  top:325px;
  left:1348px;
  background-color: $brunbox;

}
#news{
  // font-family: ;
    font-weight: 600;
    font-size: 50px;
    width: 400px;
    height:60px;
    top:416px;
    left:1356.97px;
    color:$skrift-hvid;
}