
#ur-container{
width: 528px;
height: 236px;
top: 51px;
left: 1707px;
border: 1px;
border-color: $moerkegraa;

}
#ur{
    color: $skrift-hvid;
    background-color: $moerkegraa ;
   
}
box-one{
    width: 251px;
    height: 106px;
    top: 60px;
    left: 1717px;
}

box-two{
    width: 251px;
    height: 106px;
    top: 60px;
    left: 1717px;
}

box-three{
    width: 251px;
    height: 106px;
    top: 60px;
    left: 1975px;
}
box-four{
    width: 251px;
    height: 106px;
    top: 60px;
    left: 1975px;
}