@use 'variables';


.ur-container {
background-color:variables.$moerkegraa;
border-radius: variables.$border-radius;
box-shadow: 0 4px 6px rgba(0,0,0,0.08);
padding: 1rem;
border: 8px solid variables.$lysegraa;
width: 528px;
height: 236px;
top: 51px;
left: 1707px;

#ur {
    font-family: sans-serif;
    text-align: center;
    font-size: 150px;
    color: variables.$skrift-hvid;
    width: 550px;
    height:370px;
    margin: auto;
    padding:20px;

}
}
