@use 'variables';
@use 'boxes';

#ur-container{
width: 528px;
height: 236px;
top: 51px;
left: 1707px;
border: 1px;
border-radius: variables.$border-radius;
border-color: variables.$moerkegraa;

}
#ur{
    text-align: center;
    size: 800px;
    color: variables.$skrift-hvid;
    background-color: variables.$moerkegraa ;
   
}
box-one{
    width: 251px;
    height: 106px;
    top: 60px;
    left: 1717px;
}

box-two{
    width: 251px;
    height: 106px;
    top: 60px;
    left: 1717px;
}

box-three{
    width: 251px;
    height: 106px;
    top: 60px;
    left: 1975px;
    
}
box-four{
    width: 251px;
    height: 106px;
    top: 60px;
    left: 1975px;
    
}