$gul: #F5D45B;
$sort: #000000;
$skrift-hvid: #FFFFFF;
$brunbox: rgba(0, 0, 0, 0.5);
$brun-kantina: #564A1F;
$orange-knap: #E48846;
$blå: #457CC4;
$rød: #D14938;

$lysegrå: #E2E2E2;
$moerkegrå: #707070;


$border-radius: 16px;
$max-content-width: 1200px;

$btn-contrast-text: $skrift-hvid;

