@import 'variables';
@import 'buttons';
@import 'boxes';

body {
  background: $gul;
  color: $sort;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

.container {
  max-width: $max-content-width;
  margin: 0 auto;
  padding: 1rem;

}
