@use 'variables';
@use 'buttons';
@use 'boxes';

body {
  background: variables.$gul;
  color: variables.$sort;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

.container {
  max-width: variables.$max-content-width;
  margin: 0 auto;
  padding: 1rem;

}
